<a href="https://colab.research.google.com/github/jaimebaldeon/Financial-Stock-Prediction/blob/yfinanceAPI/financialStocks_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prueba investpy
!pip install git+https://github.com/alvarobartt/investpy.git@developer
import investpy

In [ ]:

df = investpy.get_stock_historical_data(stock='BABA',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
print(df)

In [ ]:
data = investpy.get_crypto_historical_data(crypto='bitcoin', from_date='01/01/2014', to_date='01/01/2019')
print(data)

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [ ]:
def convert_to_int(df): 
  col = df.columns
  for col in df: 
    temp = df[col].to_string().replace(',','').split('\n') #     Replace comma with space and clean out extra spaces
    temp.pop(0) #Remove first erronous element
    df.index = pd.to_datetime(df.index) # Convert index to datetime 
    df[col]= [i[10:].strip() for i in temp] # stripping off nth characters
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int) # Transform columns from   object to numeric
  return df
  
def clean_data(is_data):
  Fin_st = pd.DataFrame(is_data[0:])
  Fin_st.columns = Fin_st.iloc[0] # Name columns to first row of dataframe
  Fin_st = Fin_st.iloc[1:,] # start to read 1st row
  Fin_st = Fin_st.T # transpose dataframe
  Fin_st.columns = Fin_st.iloc[0] #Name columns to first row of dataframe
  Fin_st.drop(Fin_st.index[0],inplace=True) #Drop first index row
  Fin_st.index.name = '' # Remove the index name
  Fin_st.rename(index={'ttm': '12/31/2020'},inplace=True) #Rename ttm in index columns to end of the year
  #Fin_st = Fin_st[Fin_st.columns[:-5]] # remove last 5 irrelevant columns
  return Fin_st

def extract_data(url, fin_st):
  read_data = ur.urlopen(url).read()
  soup_is = BeautifulSoup(read_data, 'lxml')
  #print(soup_is)
  div = []
  for l in soup_is.find_all('div'):
    # Find all divs in site
    #print(l.string)
    if l.string is not None:
      div.append(str(l.string))
  div = list(filter(None, div))
  #print(div[15:])
  div = div[15:]
  # Add missing values in div
  div[0] = 'Annual'
  if fin_st is 'is':
    div = div[:6] + ['Total Revenue'] + div[6:]
    div = div[:24] + ['Operating Expense'] + div[24:]
    div = div[:36] + ['Net Non Operating Interest Income Expense'] + div[36:]
    div = div[:42] + ['Other Income Expense'] + div[42:]
    div = div[:60] + ['Net Income Common Stockholders'] + div[60:]
  elif fin_st is 'bs':
    div = div[:5] + ['Total Assets'] + div[5:]
    div = div[:10] + ['Total Liabilities Net Minority Interest'] + div[10:]
    div = div[:15] + ['Total Equity Gross Minority Interest'] + div[15:]
  elif fin_st is 'cf':
    div = div[:6] + ['Operating Cash Flow'] + div[6:]
    div = div[:12] + ['Investing Cash Flow'] + div[12:]
    div = div[:18] + ['Financing Cash Flow'] + div[18:]
    div = div[:24] + ['End Cash Position'] + div[24:]
  else:
    return False
  #print(new_ls)
  return div

In [ ]:
# Stock symbol
index= 'MOMO'

# URL link 
url_is = 'https://finance.yahoo.com/quote/' + index + '/financials?p=' + index
url_bs = 'https://finance.yahoo.com/quote/' + index +'/balance-sheet?p=' + index
url_cf = 'https://finance.yahoo.com/quote/' + index + '/cash-flow?p='+ index
print(url_is)

https://finance.yahoo.com/quote/MOMO/financials?p=MOMO

In [ ]:
##  INCOME STATEMENT

new_ls = extract_data(url_is, 'is')
is_data = list(zip(*[iter(new_ls)]*6))
Income_st = clean_data(is_data)
Income_st = convert_to_int(Income_st)
Income_st

Annual      Total Revenue  ...  Tax Effect of Unusual Items
                           ...
2020-12-31       16886254  ...                        -3696
2019-12-31       17015089  ...                        -3590
2018-12-31       13408421  ...                        -8787
2017-12-31        8606583  ...                        -4997
2016-12-31        3840602  ...                        -1399

[5 rows x 33 columns]

In [ ]:
##  BALANCE SHEET

new_ls = extract_data(url_bs, 'bs')
is_data = list(zip(*[iter(new_ls)]*5))
Balance_sh = clean_data(is_data)
Balance_sh = convert_to_int(Balance_sh)
#Balance_sh

In [ ]:
##  CASH FLOW

new_ls = extract_data(url_cf, 'cf')
is_data = list(zip(*[iter(new_ls)]*6))
CashFlow_st = clean_data(is_data)
CashFlow_st = convert_to_int(CashFlow_st)
CashFlow_st

Annual      Operating Cash Flow  ...  Free Cash Flow
                                 ...
2020-12-31              4816473  ...         4644582
2019-12-31              5448886  ...         5262364
2018-12-31              3327718  ...         3084875
2017-12-31              2791714  ...         2561205
2016-12-31              1515908  ...         1467121

[5 rows x 10 columns]

In [ ]:
# EBIT
EBIT = Income_st['Operating Income']
print(EBIT)
# EBITDA
#print(Income_st[['Operating Income', "Reconciled Depreciation"]])
EBITDA = EBIT + Income_st["Reconciled Depreciation"] # Income_st["EBITDA"] 
print(EBITDA)

# FCF (Operating Cash Flow - |Investing Cash Flow (CAPEX)|)
# Find LFCF

# Otherwise, compute FCF
#print(CashFlow_st[['Operating Cash Flow','Investing Cash Flow'] ])
FCF = CashFlow_st['Operating Cash Flow'] + CashFlow_st['Investing Cash Flow'] 
print(FCF)

# ENTERPRISE VALUE (Market Cap - Short-Term Debt + L-T Debt - Cash And Cash Equivalents)


# EV/EBIT

# EV/EBITDA

# EV/FCF

# PER

2020-12-31    3764346
2019-12-31    3554699
2018-12-31    3266292
2017-12-31    2355982
2016-12-31    1003282
Name: Operating Income, dtype: int64

2020-12-31    4125805
2019-12-31    3910890
2018-12-31    3507560
2017-12-31    2437173
2016-12-31    1061638
dtype: int64

2020-12-31    1077029
2019-12-31    1418967
2018-12-31   -6706286
2017-12-31    2613415
2016-12-31     694123
dtype: int64

In [ ]:
!pip install yfinance

In [22]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
msft.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [8]:
# EBIT
# EBIT = Income_st['Operating Income']
# EBITDA
#print(Income_st[['Operating Income', "Reconciled Depreciation"]])
#EBITDA = EBIT + Income_st["Reconciled Depreciation"] # Income_st["EBITDA"] 

# FCF (Operating Cash Flow - |Investing Cash Flow (CAPEX)|)
# Find LFCF

# Otherwise, compute FCF
#print(CashFlow_st[['Operating Cash Flow','Investing Cash Flow'] ])
#FCF = CashFlow_st['Operating Cash Flow'] + CashFlow_st['Investing Cash Flow'] 

# ENTERPRISE VALUE (Market Cap - Short-Term Debt + L-T Debt - Cash And Cash Equivalents)
M_Cap = msft.info['marketCap']
ST_Debt = msft.info['']
print(M_Cap)
# EV/EBIT

# EV/EBITDA

# EV/FCF

# PER
PER = msft.info['trailingPE']
print(PER)

1598213324800
34.100643