<a href="https://colab.research.google.com/github/jaimebaldeon/Financial-Stock-Prediction/blob/yfinanceAPI/financialStocks_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prueba investpy
!pip install git+https://github.com/alvarobartt/investpy.git@developer
import investpy

In [ ]:

df = investpy.get_stock_historical_data(stock='BABA',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
print(df)

In [ ]:
data = investpy.get_crypto_historical_data(crypto='bitcoin', from_date='01/01/2014', to_date='01/01/2019')
print(data)

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [ ]:
def convert_to_int(df): 
  col = df.columns
  for col in df: 
    temp = df[col].to_string().replace(',','').split('\n') #     Replace comma with space and clean out extra spaces
    temp.pop(0) #Remove first erronous element
    df.index = pd.to_datetime(df.index) # Convert index to datetime 
    df[col]= [i[10:].strip() for i in temp] # stripping off nth characters
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int) # Transform columns from   object to numeric
  return df
  
def clean_data(is_data):
  Fin_st = pd.DataFrame(is_data[0:])
  Fin_st.columns = Fin_st.iloc[0] # Name columns to first row of dataframe
  Fin_st = Fin_st.iloc[1:,] # start to read 1st row
  Fin_st = Fin_st.T # transpose dataframe
  Fin_st.columns = Fin_st.iloc[0] #Name columns to first row of dataframe
  Fin_st.drop(Fin_st.index[0],inplace=True) #Drop first index row
  Fin_st.index.name = '' # Remove the index name
  Fin_st.rename(index={'ttm': '12/31/2020'},inplace=True) #Rename ttm in index columns to end of the year
  #Fin_st = Fin_st[Fin_st.columns[:-5]] # remove last 5 irrelevant columns
  return Fin_st

def extract_data(url, fin_st):
  read_data = ur.urlopen(url).read()
  soup_is = BeautifulSoup(read_data, 'lxml')
  #print(soup_is)
  div = []
  for l in soup_is.find_all('div'):
    # Find all divs in site
    #print(l.string)
    if l.string is not None:
      div.append(str(l.string))
  div = list(filter(None, div))
  #print(div[15:])
  div = div[15:]
  # Add missing values in div
  div[0] = 'Annual'
  if fin_st is 'is':
    div = div[:6] + ['Total Revenue'] + div[6:]
    div = div[:24] + ['Operating Expense'] + div[24:]
    div = div[:36] + ['Net Non Operating Interest Income Expense'] + div[36:]
    div = div[:42] + ['Other Income Expense'] + div[42:]
    div = div[:60] + ['Net Income Common Stockholders'] + div[60:]
  elif fin_st is 'bs':
    div = div[:5] + ['Total Assets'] + div[5:]
    div = div[:10] + ['Total Liabilities Net Minority Interest'] + div[10:]
    div = div[:15] + ['Total Equity Gross Minority Interest'] + div[15:]
  elif fin_st is 'cf':
    div = div[:6] + ['Operating Cash Flow'] + div[6:]
    div = div[:12] + ['Investing Cash Flow'] + div[12:]
    div = div[:18] + ['Financing Cash Flow'] + div[18:]
    div = div[:24] + ['End Cash Position'] + div[24:]
  else:
    return False
  #print(new_ls)
  return div

In [ ]:
# Stock symbol
index= 'MOMO'

# URL link 
url_is = 'https://finance.yahoo.com/quote/' + index + '/financials?p=' + index
url_bs = 'https://finance.yahoo.com/quote/' + index +'/balance-sheet?p=' + index
url_cf = 'https://finance.yahoo.com/quote/' + index + '/cash-flow?p='+ index
print(url_is)

https://finance.yahoo.com/quote/MOMO/financials?p=MOMO

In [ ]:
##  INCOME STATEMENT

new_ls = extract_data(url_is, 'is')
is_data = list(zip(*[iter(new_ls)]*6))
Income_st = clean_data(is_data)
Income_st = convert_to_int(Income_st)
Income_st

Annual      Total Revenue  ...  Tax Effect of Unusual Items
                           ...
2020-12-31       16886254  ...                        -3696
2019-12-31       17015089  ...                        -3590
2018-12-31       13408421  ...                        -8787
2017-12-31        8606583  ...                        -4997
2016-12-31        3840602  ...                        -1399

[5 rows x 33 columns]

In [ ]:
##  BALANCE SHEET

new_ls = extract_data(url_bs, 'bs')
is_data = list(zip(*[iter(new_ls)]*5))
Balance_sh = clean_data(is_data)
Balance_sh = convert_to_int(Balance_sh)
#Balance_sh

In [ ]:
##  CASH FLOW

new_ls = extract_data(url_cf, 'cf')
is_data = list(zip(*[iter(new_ls)]*6))
CashFlow_st = clean_data(is_data)
CashFlow_st = convert_to_int(CashFlow_st)
CashFlow_st

Annual      Operating Cash Flow  ...  Free Cash Flow
                                 ...
2020-12-31              4816473  ...         4644582
2019-12-31              5448886  ...         5262364
2018-12-31              3327718  ...         3084875
2017-12-31              2791714  ...         2561205
2016-12-31              1515908  ...         1467121

[5 rows x 10 columns]

In [ ]:
# EBIT
EBIT = Income_st['Operating Income']
print(EBIT)
# EBITDA
#print(Income_st[['Operating Income', "Reconciled Depreciation"]])
EBITDA = EBIT + Income_st["Reconciled Depreciation"] # Income_st["EBITDA"] 
print(EBITDA)

# FCF (Operating Cash Flow - |Investing Cash Flow (CAPEX)|)
# Find LFCF

# Otherwise, compute FCF
#print(CashFlow_st[['Operating Cash Flow','Investing Cash Flow'] ])
FCF = CashFlow_st['Operating Cash Flow'] + CashFlow_st['Investing Cash Flow'] 
print(FCF)

# ENTERPRISE VALUE (Market Cap - Short-Term Debt + L-T Debt - Cash And Cash Equivalents)


# EV/EBIT

# EV/EBITDA

# EV/FCF

# PER

2020-12-31    3764346
2019-12-31    3554699
2018-12-31    3266292
2017-12-31    2355982
2016-12-31    1003282
Name: Operating Income, dtype: int64

2020-12-31    4125805
2019-12-31    3910890
2018-12-31    3507560
2017-12-31    2437173
2016-12-31    1061638
dtype: int64

2020-12-31    1077029
2019-12-31    1418967
2018-12-31   -6706286
2017-12-31    2613415
2016-12-31     694123
dtype: int64

In [ ]:
# Clone the entire repo.
!git clone -l -s git://github.com/ranaroussi/yfinance.git cloned-repo
%cd cloned-repo
!ls
'''
data = utils.get_json(url+'/financials', proxy)
----> into:
url = "{}/{}/financials".format(self._scrape_url, self.ticker)
data = utils.get_json(url, proxy)'''

In [ ]:
!pip install yfinance

In [12]:
import sys
sys.path.insert(1, '/content/cloned-repo')
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
msft.balance_sheet

                                    2020-06-30  ...    2017-06-30
Intangible Assets                 7.038000e+09  ...  1.010600e+10
Total Liab                        1.830070e+11  ...  1.626010e+11
Total Stockholder Equity          1.183040e+11  ...  8.771100e+10
Other Current Liab                4.600100e+10  ...  3.087900e+10
Total Assets                      3.013110e+11  ...  2.503120e+11
Common Stock                      8.055200e+10  ...  6.931500e+10
Other Current Assets              1.151700e+10  ...  5.183000e+09
Retained Earnings                 3.456600e+10  ...  1.776900e+10
Other Liab                        3.449200e+10  ...  2.298600e+10
Good Will                         4.335100e+10  ...  3.512200e+10
Treasury Stock                    3.186000e+09  ...  6.270000e+08
Other Assets                      1.313800e+10  ...  6.076000e+09
Cash                              1.357600e+10  ...  7.663000e+09
Total Current Liabilities         7.231000e+10  ...  5.574500e+10
Deferred Long Term Asset Charges  6.405000e+09  ...  2.480000e+08
Short Long Term Debt              3.749000e+09  ...  1.049000e+09
Other Stockholder Equity          3.186000e+09  ...  6.270000e+08
Property Plant Equipment          5.290400e+10  ...  3.028900e+10
Total Current Assets              1.819150e+11  ...  1.626960e+11
Long Term Investments             2.965000e+09  ...  6.023000e+09
Net Tangible Assets               6.791500e+10  ...  4.248300e+10
Short Term Investments            1.229160e+11  ...  1.252380e+11
Net Receivables                   3.201100e+10  ...  2.243100e+10
Long Term Debt                    5.957800e+10  ...  7.607300e+10
Inventory                         1.895000e+09  ...  2.181000e+09
Accounts Payable                  1.253000e+10  ...  7.390000e+09

[26 rows x 4 columns]

In [15]:
msft.cashflow

                                             2020-06-30  ...    2017-06-30
Investments                                6.980000e+09  ... -1.251100e+10
Change To Liabilities                      5.230000e+09  ...  3.901000e+09
Total Cashflows From Investing Activities -1.222300e+10  ... -4.678100e+10
Net Borrowings                            -5.518000e+09  ...  3.145900e+10
Total Cash From Financing Activities      -4.603100e+10  ...  8.408000e+09
Change To Operating Activities            -6.730000e+08  ...  3.490000e+08
Issuance Of Stock                          1.343000e+09  ...  7.720000e+08
Net Income                                 4.428100e+10  ...  2.548900e+10
Change In Cash                             2.220000e+09  ...  1.153000e+09
Repurchase Of Stock                       -2.296800e+10  ... -1.178800e+10
Effect Of Exchange Rate                   -2.010000e+08  ...  1.900000e+07
Total Cash From Operating Activities       6.067500e+10  ...  3.950700e+10
Depreciation                               1.230000e+10  ...  7.800000e+09
Other Cashflows From Investing Activities -1.241000e+09  ... -1.970000e+08
Dividends Paid                            -1.513700e+10  ... -1.184500e+10
Change To Inventory                        1.680000e+08  ...  5.000000e+07
Change To Account Receivables             -2.577000e+09  ... -1.216000e+09
Other Cashflows From Financing Activities -3.751000e+09  ... -1.900000e+08
Change To Netincome                        5.577000e+09  ...  1.342000e+09
Capital Expenditures                      -1.544100e+10  ... -8.129000e+09

[20 rows x 4 columns]

In [ ]:
# EBIT
# EBIT = Income_st['Operating Income']
# EBITDA
#print(Income_st[['Operating Income', "Reconciled Depreciation"]])
#EBITDA = EBIT + Income_st["Reconciled Depreciation"] # Income_st["EBITDA"] 

# FCF (Operating Cash Flow - |Investing Cash Flow (CAPEX)|)
# Find LFCF

# Otherwise, compute FCF
#print(CashFlow_st[['Operating Cash Flow','Investing Cash Flow'] ])
#FCF = CashFlow_st['Operating Cash Flow'] + CashFlow_st['Investing Cash Flow'] 

# ENTERPRISE VALUE (Market Cap - Short-Term Debt + L-T Debt - Cash And Cash Equivalents)
M_Cap = msft.info['marketCap']
ST_Debt = msft.info['']
print(M_Cap)
# EV/EBIT

# EV/EBITDA

# EV/FCF

# PER
PER = msft.info['trailingPE']
print(PER)

1598213324800
34.100643